.structure {
    background-color: white;
    box-shadow: 0.648305px 1.94492px 7.77966px rgba(0, 0, 0, 0.03);
    border-radius: 12px;
    padding: 18px;
}

.structure-title {
    font-size: 16px;
    font-weight: 700;
    margin: 8px 0 16px;
}