.structure-item {
    color: #454460;
    margin-bottom: 16px;

    &.active {
        .sub-structures {
            display: block;
        }

        .expander {
            transform: rotate(180deg);
        }
    }

    .item-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-right: 24px;
    }

    .item-title {
        color: #454460;
        cursor: pointer;
        font-size: 13px;
        font-weight: 500;
        margin: 0 8px 0 0;
        white-space: nowrap;

        &:hover {
            color: #507FF9;
        }
    }
    
    .expander {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        // transition: all 0.2s ease-in-out;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;

        svg {
            transform: translateY(-20%);
        }
    }

    .sub-structures, .categories {
        display: none;
        color: #828094;
        list-style-type: none;
        font-size: 12px;
        font-weight: 400;
        padding-left: 20px;
        margin-top: 8px;
    }

    .sub-structures {
        .sub-item {
            margin: 6px 0;
            position: relative;

            &::before {
                content: "\2022";
                color: inherit;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                position: absolute;
                left: -8px;
            }
        }

        .sub-title {
            cursor: pointer;

            &:hover {
                color: #507FF9;
            }
        }
    }

    .categories {
        font-size: 11px;
        margin-bottom: 10px;

        &.active {
            display: block;
        }

        li {
            margin: 4px 0;
            position: relative;

            &::before {
                content: "-";
                color: inherit;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                position: absolute;
                left: -8px;
            }
        }
    }
}