.sidebar {
    background: #FFFFFF;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    min-height: 100vh;
    padding: 80px 24px;
    width: 256px;
    flex-shrink: 0;

    .sidebar-header {
        display: flex;

        .name {
            margin: 8px 0;
            font-size: 14px;
            font-weight: 500;
            color: #192A3E;
        }
        .email {
            margin: 0;
            font-size: 11px;
            font-weight: 500;
            color: #90A0B7;
        }
    }

    .sidebar-nav {
        margin: 36px 0;
        li {
            margin: 12px 0;
        }
        // border-bottom: 1px solid #EBEFF2;
    }

    .sidebar-link {
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 0.01em;
        color: #334D6E;
        text-decoration: none;

        &.active, &:hover {
            color: #4F9BFF;
        }
    }
}